.time {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: #3fd544;
    filter: drop-shadow(0 0px 5px #3fd54460);
}

.time_number {
    position: absolute;
    font-size: 2em;
    font-weight: 600;
    transition: all 0.5s linear;
}

.time_bar {
    transition: all 1s linear;
}

.time_alert {
    color: #ded009;
    filter: drop-shadow(0 0 5px #ded00960);
}

.time_danger {
    color: #fb1d1d;
    filter: drop-shadow(0 0 0 #fb1d1d00);
    animation: animationTime 0.5s ease-in-out alternate infinite;
}

@keyframes animationTime {
    to {
        filter: drop-shadow(0 0 10px #fb1d1d99);
    }
}
